


body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Ek Mukta';
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    
  }


  h1 {
    margin-top: 5vh;
    font-size: 2.5rem;
    max-width: 500px;
    letter-spacing: 3px;
    text-align: center;
    line-height: 1.5;
    font-family: 'Open Sans';
    text-transform: capitalize;
    font-weight: 800;
    color: black;
  }
  
    span {
        color: #6699CC;
        font-family:  'Dancing Script'; 
      }
    
      


.parallax-window {
    min-height: 750px;
    background: transparent;
    
}

.Header-sito {
    top: 10vh;
    background-color: white;
    padding: 2em 3em;
    display: inline-block;
    max-width: 60vw;
}


.sottotitolo {
    font-size: 15px;
    line-height: 1.3;
    color: #8e8e8e;
    margin-bottom: 0;
    font-family:  'Dancing Script'; 
}

.titolo {    
    font-family:  'Open Sans Condensed';
    font-size: 52px; 


}









button,
select {
  margin-top: 5vh;
  text-transform: none;
  border-radius: 8px;
  width: 400px;
  height: 30px;
}







* {
    margin: 0;
    box-sizing: border-box;
    position: relative;
}


.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    width: 180px;
    height: 40px;
}



#myChart{
  max-height: 900px;

}




